absl-py==2.3.1
actionlib==1.14.3
aiobotocore==1.2.0
aiodns==2.0.0
aiofiles==0.4.0
aiohttp==3.8.3
aioitertools==0.7.1
aiosignal==1.3.1
angles==1.9.14
antlr4-python3-runtime==4.9.3
anyio==3.7.1
asteval==0.9.21
async-timeout==4.0.2
attrs==20.1.0
av==15.1.0
azure-core==1.28.0
azure-identity==1.13.0
azure-storage-blob==12.17.0
bondpy==1.8.7
boto3==1.26.63
botocore==1.20.49
camera-calibration-parsers==1.12.1
camera-calibration==1.17.0
catkin-pkg==1.1.0
catkin==0.8.12
cchardet==2.1.6
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
cloudpickle==3.1.1
cmake==4.1.0
construct==2.10.68
contourpy==1.3.2
controller-manager-msgs==0.20.0
controller-manager==0.20.0
coverage==6.1.2
cryptography==41.0.2
cv-bridge==1.16.2
cycler==0.11.0
decorator==4.4.2
diagnostic-analysis==1.12.1
diagnostic-common-diagnostics==1.12.1
diagnostic-updater==1.12.1
distro==1.9.0
docker-pycreds==0.4.0
docutils==0.22.2
dynamic-reconfigure==1.7.6
einops==0.8.1
exceptiongroup==1.1.2
farama-notifications==0.0.4
fastapi==0.92.0
filelock==3.12.2
fonttools==4.60.1
frozenlist==1.3.3
fsspec==2025.9.0
gazebo-plugins==2.9.3
gazebo-ros==2.9.3
gencpp==0.7.2
geneus==3.0.0
genlisp==0.4.18
genmsg==0.6.1
gennodejs==2.0.2
genpy==0.6.18
gitdb==4.0.12
gitpython==3.1.45
grpcio==1.75.1
gunicorn==20.1.0
gymnasium==0.29.0
h11==0.14.0
h5py==3.14.0
hidapi==0.14.0.post4
httptools==0.4.0
hydra-core==1.3.2
idna-ssl==1.1.0
idna==3.4
image-geometry==1.16.2
imageio-ffmpeg==0.4.9
imageio==2.22.2
importlib-metadata==8.7.0
interactive-markers==1.12.2
isodate==0.6.1
jinja2==3.1.2
jmespath==0.10.0
joint-state-publisher-gui==1.15.2
joint-state-publisher==1.15.2
jsonschema==3.2.0
kiwisolver==1.4.4
laser-geometry==1.6.8
lit==18.1.8
llvmlite==0.40.0
lxml==4.9.3
markdown==3.9
markupsafe==2.1.3
matplotlib==3.7.1
mavros==1.20.1
message-filters==1.17.4
moviepy==1.0.3
mpmath==1.3.0
msal-extensions==1.0.0
msal==1.23.0
multidict==6.0.4
nest-asyncio==1.5.6
networkx==3.1
numba==0.57.0
numpy-quaternion==2022.4.3
numpy==1.26.4
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu12==9.10.2.21
nvidia-cufft-cu12==11.3.3.83
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.9.90
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
nvidia-lula-no-cuda==0.9.1
nvidia-nccl-cu12==2.27.3
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvtx-cu12==12.8.90
nvidia-srl-base==0.6.0
nvidia-srl-math==0.7.0
nvidia-srl-usd-to-urdf==0.3.2
nvidia-srl-usd==0.9.0
nvsmi==0.4.2
oauthlib==3.2.2
omegaconf==2.3.0
omni-drones==0.0.0
omni-isaac-contrib-tasks==0.0.1
omni-isaac-orbit-assets==0.1.1
omni-isaac-orbit-tasks==0.6.0
omni-isaac-orbit==0.15.1
orjson==3.11.3
osqp==0.6.2.post8
packaging==25.0
pandas==2.3.3
pathtools==0.1.2
pillow==9.2.0
pint==0.20.1
pip==25.2
plotly==5.3.1
portalocker==2.7.0
prettytable==3.3.0
proglog==0.1.12
promise==2.3
protobuf==3.20.3
psutil==5.7.2
pycares==3.1.1
pycparser==2.21
pydantic==1.9.2
pyglet==1.5.31
pyparsing==3.0.9
pyperclip==1.8.0
pypng==0.20220715.0
pyrsistent==0.19.3
python-dateutil==2.8.2
python-multipart==0.0.6
python-qt-binding==0.4.6
pytz==2022.7.1
pyvers==0.1.0
pyyaml==6.0.1
qdldl==0.1.5.post3
qrcode==7.4.2
qt-dotgraph==0.4.5
qt-gui-cpp==0.4.5
qt-gui-py-common==0.4.5
qt-gui==0.4.5
requests-oauthlib==1.3.1
requests==2.31.0
resource-retriever==1.12.10
rosbag==1.17.4
rosboost-cfg==1.15.10
rosclean==1.15.10
roscreate==1.15.10
rosgraph==1.17.4
roslaunch==1.17.4
roslib==1.15.10
roslint==0.12.0
roslz4==1.17.4
rosmake==1.15.10
rosmaster==1.17.4
rosmsg==1.17.4
rosnode==1.17.4
rosparam==1.17.4
rospkg==1.6.0
rospy==1.17.4
rosservice==1.17.4
rostest==1.17.4
rostopic==1.17.4
rosunit==1.15.10
roswtf==1.17.4
rqt-action==0.4.11
rqt-bag-plugins==0.5.3
rqt-bag==0.5.3
rqt-console==0.4.14
rqt-dep==0.4.14
rqt-graph==0.4.16
rqt-gui-py==0.5.5
rqt-gui==0.5.5
rqt-image-view==0.4.19
rqt-launch==0.4.10
rqt-logger-level==0.4.13
rqt-moveit==0.5.13
rqt-msg==0.4.12
rqt-nav-view==0.5.8
rqt-plot==0.4.16
rqt-pose-view==0.5.13
rqt-publisher==0.4.12
rqt-py-common==0.5.5
rqt-py-console==0.4.12
rqt-reconfigure==0.5.7
rqt-robot-dashboard==0.5.8
rqt-robot-monitor==0.5.15
rqt-robot-steering==0.5.14
rqt-runtime-monitor==0.5.10
rqt-rviz==0.7.2
rqt-service-caller==0.4.12
rqt-shell==0.4.13
rqt-srv==0.4.11
rqt-tf-tree==0.6.5
rqt-top==0.4.11
rqt-topic==0.4.15
rqt-web==0.4.11
rviz==1.14.26
s3transfer==0.6.1
scipy==1.10.1
selenium==4.14.0
sensor-msgs==1.13.2
sentry-sdk==1.14.0
setproctitle==1.3.7
setuptools-scm==7.1.0
setuptools==68.0.0
shortuuid==1.0.13
six==1.16.0
smach-ros==2.5.3
smach==2.5.3
smclib==1.8.7
smmap==5.0.2
sniffio==1.3.0
starlette==0.25.0
sympy==1.12
tenacity==9.1.2
tensorboard-data-server==0.7.2
tensorboard==2.20.0
tensordict==0.4.0+3725bcc
tf-conversions==1.13.4
tf2-geometry-msgs==0.7.10
tf2-kdl==0.7.10
tf2-py==0.7.10
tf2-ros==0.7.10
tf==1.13.4
toml==0.10.1
tomli==2.3.0
topic-tools==1.17.4
torch==2.0.1+cu118
torchrl==0.4.0+3725bcc
torchvision==0.15.2+cu118
tornado==6.2
tqdm==4.67.1
trimesh==4.8.3
triton==2.0.0
typing-extensions==4.15.0
tzdata==2025.2
urllib3==1.26.16
uvicorn==0.21.1
wandb==0.12.21
watchdog==0.10.4
wcwidth==0.2.14
webbot==0.34
websockets==10.3
werkzeug==3.1.3
wheel==0.45.1
wrapt==1.10.10
xacro==1.14.20
xxhash==3.6.0
yarl==1.8.2
zipp==3.23.0